header{
    width: 100%;
    height: 1060vh;
    background: linear-gradient(to right,rgba(243, 104, 224,0.4)60%,pink 30%);
   /* clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80%,0% 100%); */
} 
  h2{
  color:rgb(48, 2, 109);
}
.color{
  border:solid 1px rgb(63, 62, 60);
  display: block;
  width:500px;
  background-color: rgb(185, 185, 226)
}
#mili{
  width: 350px;
  height: 20vh;
  background-color:rgb(46, 13, 10);
  display:flex;
  align-items: center;
  color: white;
  clip-path:polygon(0 40%, 80% 39%, 59% 70%, 0 71%); 
  padding: 20px;
  line-height: 1.3rem;
}
 /* .row{
  display: flex;
  justify-content: center;
} 
.card{
  width: 33.3%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card h2{
  text-transform: uppercase;
} */
