body{
    background-color:#ff9ff3;
}
.container{
    width: 410px;
    height: 590px;
    background-image:linear-gradient(97deg,#5f00ff 0%,#cd00ff 50%,#fb2091 100%);
    margin-left: 33%;
    margin-top: 13%;
    text-align: center;
    color:white;
    padding: 48px;
}
form{
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding: 10px;
}
form input{
    margin-bottom: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    outline: none; 
}
    form input:focus{
    border: 1px solid rgba(105, 96, 96, 0.7);
    background: #efefef;
}
input[type="text"],input[type="password"]{
    padding-left: 4px;
    position: relative;
    height: 32px;
    font-size: 15px;
}
input::placeholder{
    font-weight: normal;
    font-size: 15px;
    transition: 0.35 ease;
}
input:focus::placeholder{
    position: absolute;
    font-size: 15px;
    transform: translateY(-13px);
}
form button{
    color: white;
    border: none;
    background: #043fff;
    padding: 10px 0;
    margin-top: 2px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
form button:active{
    background: #2c58fe;
    transform: scale(0 995);
}
form .option{
    color: #efeff8;
    margin: 12px 0;
    font-weight: bold;
    position: relative;
}
form .option:before{
    position: absolute;
    content: "";
    width: 40%;
    height: 1px;
    background: #eeebeb;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    border: radius 50px;
}
form .option:after{
    position: absolute;
    content: "";
    width: 40%;
    height: 1px;
    background: #f1e9e9;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: radius 50px;
}
.btn-fb{
    border: 0;
    outline: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    cursor: pointer;
}
.btn-fb img{
    width: 20px;
    height: 19px;
    margin-right: 4px;
}
.btn-fb span{
    color: var(fb-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 25px;
}
.forget-id{
    margin:15px;
}
.forget-id a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500px;
}
.page .Signup{
    position: relative;
    border: 2px solid #b6b6b6;
    border-radius: 1px;
    width: 90%;
    left: 20%;
    transform: translateX(-16%);
    margin-top: 80px;
} 
.Signup a{
    text-decoration: none;
    margin-left: 5px;
    color: #008aff;
    font-weight: bold;
}
 .title{
    padding: 65px 0;
    text-transform: capitalize;
    font-size: 60px;
    font-family: 'Dancing Script', cursive; 
} 
